body {
    background-image: url('/shahadat-rahman-BfrQnKBulYQ-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    color: white;
}

h1 {
    color: white;
}